<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>cass.ie: Customer Data Center</title>
        <link rel="icon" type="image/x-icon" href="static/swlogo.jpg" />

        <!-- Jquery CDN -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

        <!-- Custom CSS -->
        <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            #upload-btn{
        width: 200px;

        padding-left: 50px;
        padding-right: 50px;
    }
        </style>

    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">Customer Data Center &nbsp;</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/home">Home Page</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/customerData">Customer Data</a>
                                        <a class="dropdown-item" href="/numberGroups">Number Groups</a>
                                        <a class="dropdown-item" href="/shortUrls">Shortened URL Generator</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/textBlasts">Text Blasts</a>
                                        <a class="dropdown-item" href="/errorCenter">Error Center</a>
                                        <a class="dropdown-item" href="/messageHistory">Message History</a>
                                    </div>
                                </li>
                    </ul>
                </div>
        </nav>

        <!-- Page Content-->
        <div class="wrapper d-flex align-items-stretch" style="background:#212529;">

            <!-- Side Navbar-->
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	                    <i class="bi bi-toggles"></i>
	                </button>
                </div>

				<div class="p-4 pt-5">
		  		    <h3><a>Customer Data</a></h3>
                    <div class="dropdown-divider"></div>
                    <p>The current table being shown is {{tableName}}</p>
                    <div class="dropdown-divider"></div>
	                <ul class="collection">
                            {% for csv in csvs %}
                                <li class="collection-item w3-hoverable">
                                    <a href="/customerData?filename={{csv}}">{{ csv }}</a>
                                </li>
                            {% endfor %}
                    </ul>
                    <br>

                    <h3>Upload Data</h3>
                    <div class="dropdown-divider"></div>
                    <h6>You can have any amount of columns, but make sure you include ones named First, Last, and Number!</h6>
                    <br>

                    <form class="md-form" action="/uploadFile" enctype="multipart/form-data" method="post" id="uploadData" onchange="return fileValidation()">
                        <div class="file-field upload-block">
                            <div class="btn-md">
                                <input type="file" name="file" id="file">
                                <br>
                                <br>
                                <input class="btn-md" type="submit" value="Upload" id="upload-btn">
                            </div>
                        </div>
                    </form>

                </div>
	        </nav>

            <!-- Customer Data Table-->
            <div class="col-md-12">
                {{table | safe }}
            </div>

        </div>

    <script type="text/javascript">

    var height=$('#primary').height(); // Calculate primary wrapper height
    $('#sidebar').height(height); // Set the height it to sidebar

   (function($) {

   "use strict";

   $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });

    })(jQuery);

    </script>
    <script type="text/javascript">
        function fileValidation() {
            var fileInput = document.getElementById('file');
            var filePath = fileInput.value;


            // only accept files in CSV format
            var allowedExtensions = /(\.csv)$/i;

            if (!allowedExtensions.exec(filePath)) {
                alert('File must be CSV.');
                filePath = '';
                return false;
            }

            if
        }
        </script>
    <script type="text/javascript">
        $("#upload-btn").click(function() {
        var fileName = $("#file").val();

        if(fileName) {
           return true;
        }
        else {
            alert("no file selected");
            return false;
    }
    return true;
});
    </script>
    <script type="text/javascript">
        <script>
        {% if show_modal %}
            $(document).ready(function(){
                $("#myModal").modal('show');
            });
        {% endif %}
    </script>

    </body>
</html>