<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>cass.ie: Error Center</title>
        <link rel="icon" type="image/x-icon" href="static/swlogo.jpg" />

        <!-- Jquery CDN -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

        <!-- Custom CSS -->
        <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
            body {
      padding-top: 50px;
    }

    .navbar {
      height: 50px;
      padding: 0 15px;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 1;
    }

    input, select, {
            width: 200px;
            padding: 0;
            margin: 0;
            height: 30px;
         }

         input {
            text-indent: 3px;
         }
        </style>

    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">Error Center &nbsp;</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/home">Home Page</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/customerData">Customer Data</a>
                                        <a class="dropdown-item" href="/numberGroups">Number Groups</a>
                                        <a class="dropdown-item" href="/shortUrls">Shortened URL Generator</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/textBlasts">Text Blasts</a>
                                        <a class="dropdown-item" href="/errorCenter">Error Center</a>
                                        <a class="dropdown-item" href="/messageHistory">Message History</a>
                                    </div>
                                </li>
                    </ul>
                </div>
        </nav>

        <!-- Page Content-->
        <div class="wrapper d-flex align-items-stretch" id="primary" style="background:#212529;">

            <!-- Side Navbar-->
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	                    <i class="bi bi-toggles"></i>
	                </button>
                </div>

				<div class="p-4 pt-5">
		  		    <h3>Error Center</h3>
                    <div class="dropdown-divider"></div>
                    <h6>Shows all failed/undelivered messages using status callbacks by default.</h6>
                    <div class="dropdown-divider"></div>
                    <h6>collapse filters to view complete table</h6>
                    <div class="dropdown-divider"></div>

                    <form action="/errorCenter" method="POST" id="applyFilters">
                        <label for="status">
                            Delivery Status: <br>
                            <select name="status" id="status">
                                <option value="undelivered" selected>Undelivered</option>
                                <option value="failed">Failed</option>
                            </select>
                        </label>

                        <label for="DateSentAfter">
                            Date Sent After:
                            <input type="date" name="DateSentAfter" id="DateSentAfter">
                        </label>

                        <label for="DateSentBefore">
                            Date Sent Before:
                            <input type="date" name="DateSentBefore" id="DateSentBefore">
                        </label>

                        <button type="submit" class="btn btn-light" form="applyFilters">Apply Filters</button>
                    </form>
                </div>
	        </nav>

            <!-- Customer Data Table-->
            <div class="col-md-12 table-responsive">
                    {{table | safe }}
            </div>

        </div>

    <script type="text/javascript">
    var height=$('#primary').height(); // Calculate primary wrapper height
    $('#sidebar').height(height); // Set the height it to sidebar

   (function($) {

   "use strict";

   $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });

    })(jQuery);

    </script>

    <script type="text/javascript">
        setInterval(function(){
        window.location.reload(1);
        }, 60000);
    </script>

    <script type="text/javascript">
        $('.table > tbody > tr').on('click', function() {
            console.log('table was clicked');
           });
    </script>

    </body>
</html>