<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>cass.ie: Home Page</title>
        <link rel="icon" type="image/x-icon" href="static/swlogo.jpg" />

        <!-- Bootstrap Core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

        <!-- Custom CSS -->
        <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    </head>

    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="https://github.com/signalwire/guides">GH Repo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="https://signalwire.com/">SignalWire</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://developer.signalwire.com/">SignalWire Documentation</a></li>
                        <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home &nbsp;</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/home">Home Page</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/customerData">Customer Data  </a>
                                        <a class="dropdown-item" href="/numberGroups">Number Groups  </a>
                                        <a class="dropdown-item" href="/shortUrls">Shortened URL Generator  </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/textBlasts">Text Blasts  </a>
                                        <a class="dropdown-item" href="/errorCenter">Error Center  </a>
                                        <a class="dropdown-item" href="/messageHistory">Message History  </a>
                                    </div>
                                </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">welcome to cass.ie</h1>
                        <p class="fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus enim at porta maximus.
                            Aliquam vitae dolor at dui ultricies euismod. Phasellus imperdiet suscipit risus a feugiat.
                            Ut at purus eu massa blandit laoreet. Cras sit amet auctor diam. </p>
                        <a class="btn btn-primary btn-lg" href="https://signalwire.com/products/cloud-messaging">SignalWire Messaging Info</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">

                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4 ">
                                    <i class="bi bi-cloud-upload"></i>
                                </div>
                                <h2 class="fs-4 fw-bold">Customer Data</h2>
                                <p class="mb-0">The customer data center will allow you to upload customer lists, review existing customer lists, and review opted out users.
                                    If you try to upload a previously opted out customer, you can remove them from the list you're uploading and proceed. </p>
                                <br>
                                <p>Upload and review <a href="/customerData">Customer Data</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                    <i class="bi bi-telephone"></i>
                                </div>
                                <h2 class="fs-4 fw-bold">Number Groups</h2>
                                <p class="mb-0">By using number groups you can put your account numbers in a pool and use it to send your text blasts out. Sticky sender ensures that customers receive a message from the same number every time!</p>
                                <br>
                                <p>Create and view <a href="/numberGroups">number groups</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                    <i class="bi bi-forward"></i>
                                </div>
                                <h2 class="fs-4 fw-bold">Shortened URL Generator</h2>
                                <p class="mb-0">This section will allow you to generate shortened links from full URLs and view information about your existing shortened URLs including when they were last used. </p>
                                <br>
                                <p>Generate <a href="/shortUrls">shortened URLs</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                    <i class="bi bi-bootstrap"></i>
                                </div>
                                <h2 class="fs-4 fw-bold">Text Blasts</h2>
                                <p class="mb-0">This bulk messaging hub will allow you to choose from uploaded
                                    customer lists, choose from numbers on your account or send from number groups,
                                    and easily customize your messaging</p>
                                <br>
                                <p>Send a <a href="/textBlasts">text blast</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                    <i class="bi bi-bug"></i>
                                </div>
                                <h2 class="fs-4 fw-bold">Error Center</h2>
                                <p class="mb-0">Stay on top of issues with the error center - view all failed messages
                                    that used the status callback feature or pull a report of failed/undelivered messages within any date range. </p>
                                <br>
                                <p>View recent <a href="/errorCenter">error history</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                    <i class="bi bi-chat-dots"></i>
                                </div>
                                <h2 class="fs-4 fw-bold">Message History</h2>
                                <p class="mb-0">You can view all message history over the last 24 hours, or apply new filters to view message history by date range, from number, or to number. </p>
                                <br>
                                <p>View <a href="/messageHistory">message history</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Cass.ie</p></div>
        </footer>

    </body>
</html>
