<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>cass.ie: Number Groups</title>
        <link rel="icon" type="image/x-icon" href="static/swlogo.jpg" />

        <!-- Jquery CDN -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

        <!-- Custom CSS -->
        <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

         <style>
            input, select, {
            width: 200px;
            padding: 0;
            margin: 0;
            height: 30px;
         }

         input {
            text-indent: 3px;
         }
        </style>


    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">Number Groups &nbsp;</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/home">Home Page</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/customerData">Customer Data</a>
                                        <a class="dropdown-item" href="/numberGroups">Number Groups</a>
                                        <a class="dropdown-item" href="/shortUrls">Shortened URL Generator</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/textBlasts">Text Blasts</a>
                                        <a class="dropdown-item" href="/errorCenter">Error Center</a>
                                        <a class="dropdown-item" href="/messageHistory">Message History</a>
                                    </div>
                                </li>
                    </ul>
                </div>
        </nav>

        <!-- Page Content-->
        <div class="wrapper d-flex align-items-stretch" style="background:#212529;">

            <!-- Side Navbar-->
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	                    <i class="bi bi-toggles"></i>
	                </button>
                </div>

				<div class="p-4 pt-5">
		  		    <h3><a>Number Groups</a></h3>
                    <div class="dropdown-divider"></div>
                    <p>Currently viewing: {{groupName}}</p>
                    <div class="dropdown-divider"></div>
                    <ul class="collection w3-hoverable">
                        {% for dict_item in groups %}
                        <li class="collection-item w3-hoverable">
                            <a href="/numberGroups?id={{dict_item['id']}}">{{dict_item['name']}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <br>

                </div>
	        </nav>

            <div class="container-fluid p-0" >
                    <div class="row no-gutters"  style="background:#eee;">
                        <div class=" p-5 col-sm-6" style="text-align: center;">
                            <h3>Create a New Number Group</h3>
                            <form action="/numberGroups">
                                <label for="createNumberGroup">
                                    Group Name:
                                </label>
                                <input type="text" id="createNumberGroup" name="newGroupName">
                                <input type="submit" value="Submit">
                            </form>
                            <br>

                            <h3>Delete a Number Group</h3>
                            <form action="/numberGroups">
                                <label for="deleteNumberGroup">
                                    Select the number group you would like to delete.
                                </label>
                                <select id="deleteNumberGroup" name="delGroup">
                                       {% for dict_item in groups %}
                                            <option value="{{dict_item['id']}}">
                                                {{ dict_item['name'] }}
                                            </option>
                                        {% endfor %}

                                    </select>

                                <input type="submit" value="Submit">
                            </form>
                        </div>

                        <div class="p-5 col-sm-6" style="text-align: center;">
                            <h3>Add Numbers to a Number Group</h3>
                            <form action="/numberGroups">
                                <label for="selectGroup">
                                    Select the number group you would like to add numbers to.
                                </label>
                                <select  id="selectGroup" name="chosenGroup">
                                       {% for dict_item in groups %}
                                            <option value="{{dict_item['id']}}" SELECTED>
                                                {{ dict_item['name'] }}
                                            </option>
                                        {% endfor %}

                                    </select>

                                <label for="selectNumbers">
                                    Select the numbers you would like to add to this group.
                                </label>
                                <select multiple id="selectNumbers" name="numbers">
                                        {% for dict_item in numbers %}
                                                <option value="{{dict_item}}">
                                                    {{ dict_item }}
                                                </option>

                                        {% endfor %}
                                </select>
                                <br>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                        <h4 style="text-align: center;">{{h4}}</h4>
                    </div>


                    <div class="row no-gutters" >
                        <div class="col-md-12">
                                {{table | safe }}
                        </div>
                    </div>
            </div>

        </div>

    <script type="text/javascript">
    var height=$('#primary').height(); // Calculate primary wrapper height
    $('#sidebar').height(height); // Set the height it to sidebar

   (function($) {

   "use strict";

   $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });

    })(jQuery);

    </script>
    </body>
</html>