<!DOCTYPE html>
<html lang="en">
<head>
  <title>Billing Analytics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav hidden-xs">
      <h2><img src="{{ image }}" alt="SignalWire Logo" class="img-responsive"></h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/displayBillingAnalytics">Current Dashboard</a></li>
        <li><a href="/displayCallAnalytics">Call Analytics</a></li>
        <li><a href="/displayMessageAnalytics">Message Analytics</a></li>
        <li><a href="/home">Home Page</a></li>
      </ul><br>
    </div>
    <br>

   <div class="col-sm-10">
      <div class="well">
        <h3>SignalWire Analytics</h3>
        <h4>Billing Reporting Dashboard</h4>
      </div>
      <div class="row">

        <div class="col-sm-4">
          <div class="well">
            <h4>Total Spend by Type</h4>
            <p><img src="{{ spendtype }}" alt="Total Spend per Type" class="img-responsive" ></p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="well">
            <h4>Average Spend per Month</h4>
            <p><img src="{{ avg }}" alt="Average Spend per Month" class="img-responsive" ></p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="well">
            <h4>Total Spend per Month</h4>
            <p><img src="{{ sum }}" alt="Total Spend per Month" class="img-responsive" ></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Cost of Calls: {{ CallTotal }}</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Cost of Numbers (Monthly): {{ NumTotal }}</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4> Cost of Messages: {{ MessageTotal }}</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Total Combined Spend: {{ TotalCost }} </h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Average Spend per Month Table</h4>
            <table>{{ table1 | safe}}</table>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="well">
            <h4>Percent of Total Spend by Each Type</h4>
            <p><img src="{{ percentspend }}" alt="Average Spend per Month" class="img-responsive" ></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Summary Spend per Month Table </h4>
            <table>{{ table2 | safe}}</table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</body>
</html>
